@{
    Layout = null;
}

<div id="main" class="col-left single single-product">
			<div itemscope="" itemtype="http://schema.org/Product" id="product-1090" class="post-1090 product type-product status-publish hentry">
				<div class="images">
		            <a itemprop="image" href="http://demo2.woothemes.com/shelflife/files/2011/09/australia.jpg" class="zoom" rel="thumbnails" title="australia"><img width="350" height="350" src="http://demo2.woothemes.com/shelflife/files/2011/09/australia.jpg" class="attachment-shop_single wp-post-image" alt="australia" title="australia"></a>
	                <div class="thumbnails"></div>
                </div>
				<div class="summary" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                    <h1 itemprop="name" class="product_title entry-title">Australia</h1><p itemprop="price" class="price"></p>
                    <div itemprop="description">
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    </div>
                    <script type="text/javascript">
                        var product_variations = [{ "variation_id": "1092", "attributes": { "attribute_pa_size": "large", "attribute_pa_colour": "black" }, "image_src": "", "image_link": "", "price_html": "<span class=\"price\"><span class=\"amount\">&pound;0<\/span><\/span>", "availability_html": "", "sku": "SKU: ", "min_qty": 1, "max_qty": "0", "is_downloadable": false, "is_virtual": false, "is_sold_individually": "no" }, { "variation_id": "1093", "attributes": { "attribute_pa_size": "medium", "attribute_pa_colour": "black" }, "image_src": "", "image_link": "", "price_html": "<span class=\"price\"><span class=\"amount\">&pound;0<\/span><\/span>", "availability_html": "", "sku": "SKU: ", "min_qty": 1, "max_qty": "0", "is_downloadable": false, "is_virtual": false, "is_sold_individually": "no" }, { "variation_id": "1094", "attributes": { "attribute_pa_size": "small", "attribute_pa_colour": "black" }, "image_src": "", "image_link": "", "price_html": "<span class=\"price\"><span class=\"amount\">&pound;0<\/span><\/span>", "availability_html": "", "sku": "SKU: ", "min_qty": 1, "max_qty": "0", "is_downloadable": false, "is_virtual": false, "is_sold_individually": "no" }, { "variation_id": "1095", "attributes": { "attribute_pa_size": "x-large", "attribute_pa_colour": "black" }, "image_src": "", "image_link": "", "price_html": "<span class=\"price\"><span class=\"amount\">&pound;0<\/span><\/span>", "availability_html": "", "sku": "SKU: ", "min_qty": 1, "max_qty": "0", "is_downloadable": false, "is_virtual": false, "is_sold_individually": "no" }, { "variation_id": "1096", "attributes": { "attribute_pa_size": "large", "attribute_pa_colour": "blue" }, "image_src": "", "image_link": "", "price_html": "<span class=\"price\"><span class=\"amount\">&pound;0<\/span><\/span>", "availability_html": "", "sku": "SKU: ", "min_qty": 1, "max_qty": "0", "is_downloadable": false, "is_virtual": false, "is_sold_individually": "no" }, { "variation_id": "1097", "attributes": { "attribute_pa_size": "medium", "attribute_pa_colour": "blue" }, "image_src": "", "image_link": "", "price_html": "<span class=\"price\"><span class=\"amount\">&pound;0<\/span><\/span>", "availability_html": "", "sku": "SKU: ", "min_qty": 1, "max_qty": "0", "is_downloadable": false, "is_virtual": false, "is_sold_individually": "no" }, { "variation_id": "1098", "attributes": { "attribute_pa_size": "small", "attribute_pa_colour": "blue" }, "image_src": "", "image_link": "", "price_html": "<span class=\"price\"><span class=\"amount\">&pound;0<\/span><\/span>", "availability_html": "", "sku": "SKU: ", "min_qty": 1, "max_qty": "0", "is_downloadable": false, "is_virtual": false, "is_sold_individually": "no" }, { "variation_id": "1099", "attributes": { "attribute_pa_size": "x-large", "attribute_pa_colour": "blue" }, "image_src": "", "image_link": "", "price_html": "<span class=\"price\"><span class=\"amount\">&pound;0<\/span><\/span>", "availability_html": "", "sku": "SKU: ", "min_qty": 1, "max_qty": "0", "is_downloadable": false, "is_virtual": false, "is_sold_individually": "no"}];
                    </script>
            <form action="/shelflife/shop/australia/?add-to-cart=variation&amp;product_id=1090" class="variations_form cart" method="post" enctype="multipart/form-data">
	            <table class="variations" cellspacing="0">
		            <tbody>
						<tr>
					        <td><label for="pa_size">Size</label></td>
					        <td><div class="selector" id="uniform-pa_size"><span>Choose an option…</span><select id="pa_size" name="attribute_pa_size" style="opacity: 0; ">
						    <option value="">Choose an option…</option>
						    <option value="large">Large</option><option value="small">Small</option><option value="x-large">X-Large</option><option value="medium">Medium</option>					</select></div> </td>
				        </tr>
	        			<tr>
					        <td><label for="pa_colour">Colour</label></td>
					        <td><div class="selector" id="uniform-pa_colour"><span>Choose an option…</span><select id="pa_colour" name="attribute_pa_colour" style="opacity: 0; ">
						    <option value="">Choose an option…</option>
						    <option value="black">Black</option><option value="blue">Blue</option>					</select></div> <a class="reset_variations" href="#reset" style="visibility: hidden; ">Clear selection</a></td>
				        </tr>
	        		</tbody>
	            </table>

	
	<div class="single_variation_wrap">
        <div class="single_variation"><span class="price"><ins><span class="amount">$10.99</span></ins></span></div>
		<div class="variations_button">
			<input type="hidden" name="variation_id" value="">
            <div class="quantity buttons_added">
                <input type="button" value="-" id="minus1" class="minus">
                <input name="quantity" data-min="0" data-max="" value="1" size="4" title="Qty" class="input-text qty text" maxlength="12">
                <input type="button" value="+" id="add1" class="plus">
            </div>			
            <button type="submit" class="button alt">Add to cart</button>
		</div>
	</div>
	<div><input type="hidden" name="product_id" value="1090"></div>

	
</form>

<div class="product_meta">

		
	 <span class="posted_in">Category: <a href="http://demo2.woothemes.com/shelflife/product-category/tshirts/" rel="tag">T-Shirts</a>.</span>	
	
</div>

				</div>
			</div>

		
			</div>