@model SOC.Web.Models.ViewModels.Base.BaseViewModel

@{

}

<section id="main" class="col-left">			                                              
    <article class="post-100 page type-page status-publish hentry">
        <section class="entry">
           
            <form name="checkout" method="post" class="checkout" action="/cart/process">
	<div class="col2-set" id="customer_details" style="display:none">
		<div class="col-1">
	        <h3>Billing Address</h3>
            <p class="form-row form-row-first" id="billing_first_name_field">
					<label for="billing_first_name" class="">First Name <abbr class="required" title="required">*</abbr></label>
					<input type="text" class="input-text" name="billing_first_name" id="billing_first_name" placeholder="First Name" value="">
				</p>	
	
	
	        <p class="form-row form-row-last" id="billing_last_name_field">
					<label for="billing_last_name" class="">Last Name <abbr class="required" title="required">*</abbr></label>
					<input type="text" class="input-text" name="billing_last_name" id="billing_last_name" placeholder="Last Name" value="">
				</p><div class="clear"></div>	
	
	
	        <p class="form-row " id="billing_company_field">
					<label for="billing_company" class="">Company Name</label>
					<input type="text" class="input-text" name="billing_company" id="billing_company" placeholder="Company (optional)" value="">
				</p><div class="clear"></div>	
	
	
	        <p class="form-row form-row-first" id="billing_address_1_field">
					<label for="billing_address_1" class="">Address <abbr class="required" title="required">*</abbr></label>
					<input type="text" class="input-text" name="billing_address_1" id="billing_address_1" placeholder="Address" value="">
				</p>	
	
	
	        <p class="form-row form-row-last" id="billing_address_2_field">
					<label for="billing_address_2" class="hidden">Address 2</label>
					<input type="text" class="input-text" name="billing_address_2" id="billing_address_2" placeholder="Address 2 (optional)" value="">
				</p><div class="clear"></div>	
	
	
	        <p class="form-row form-row-first" id="billing_city_field">
					<label for="billing_city" class="">Town/City <abbr class="required" title="required">*</abbr></label>
					<input type="text" class="input-text" name="billing_city" id="billing_city" placeholder="Town/City" value="">
				</p>	
	
	
	        <p class="form-row form-row-last update_totals_on_change" id="billing_postcode_field">
					<label for="billing_postcode" class="">Postcode <abbr class="required" title="required">*</abbr></label>
					<input type="text" class="input-text" name="billing_postcode" id="billing_postcode" placeholder="Postcode" value="">
				</p><div class="clear"></div>	
	
	        <p class="form-row form-row-first" id="billing_email_field">
					<label for="billing_email" class="">Email Address <abbr class="required" title="required">*</abbr></label>
					<input type="text" class="input-text" name="billing_email" id="billing_email" placeholder="Email Address" value="">
				</p>	
	
	
	        <p class="form-row form-row-last" id="billing_phone_field">
					<label for="billing_phone" class="">Phone <abbr class="required" title="required">*</abbr></label>
					<input type="text" class="input-text" name="billing_phone" id="billing_phone" placeholder="Phone" value="">
				</p><div class="clear"></div>	
	
		    <p class="form-row">
			    <input class="input-checkbox" id="createaccount" type="checkbox" name="createaccount" value="1"> <label for="createaccount" class="checkbox">Create an account?</label>
		    </p>
		
	<div class="create-account" style="display: none; ">
	
		<p>Create an account by entering the information below. If you are a returning customer please login with your username at the top of the page.</p>
	
			<p class="form-row " id="account_username_field">
					<label for="account_username" class="">Account username</label>
					<input type="text" class="input-text" name="account_username" id="account_username" placeholder="Username" value="">
				</p>		
				
			<p class="form-row form-row-first" id="account_password_field">
					<label for="account_password" class="">Account password</label>
					<input type="password" class="input-text" name="account_password" id="account_password" placeholder="Password" value="">
				</p>		
				
			<p class="form-row form-row-last" id="account_password-2_field">
					<label for="account_password-2" class="hidden">Account password</label>
					<input type="password" class="input-text" name="account_password-2" id="account_password-2" placeholder="Password" value="">
				</p>		
			
	</div>
				
		</div>
		<div class="col-2">
		
	<p class="form-row" id="shiptobilling">
		<input id="shiptobilling-checkbox" class="input-checkbox" checked="checked" type="checkbox" name="shiptobilling" value="1">
		<label for="shiptobilling-checkbox" class="checkbox">Ship to billing address?</label>
	</p>
			
	<h3>Shipping Address</h3>
			
	<div class="shipping_address" style="display: none; ">
			<p class="form-row form-row-first" id="shipping_first_name_field">
					<label for="shipping_first_name" class="">First Name <abbr class="required" title="required">*</abbr></label>
					<input type="text" class="input-text" name="shipping_first_name" id="shipping_first_name" placeholder="First Name" value="">
				</p>		
				
			<p class="form-row form-row-last" id="shipping_last_name_field">
					<label for="shipping_last_name" class="">Last Name <abbr class="required" title="required">*</abbr></label>
					<input type="text" class="input-text" name="shipping_last_name" id="shipping_last_name" placeholder="Last Name" value="">
				</p><div class="clear"></div>		
				
			<p class="form-row " id="shipping_company_field">
					<label for="shipping_company" class="">Company Name</label>
					<input type="text" class="input-text" name="shipping_company" id="shipping_company" placeholder="Company (optional)" value="">
				</p><div class="clear"></div>		
				
			<p class="form-row form-row-first" id="shipping_address_1_field">
					<label for="shipping_address_1" class="">Address <abbr class="required" title="required">*</abbr></label>
					<input type="text" class="input-text" name="shipping_address_1" id="shipping_address_1" placeholder="Address" value="">
				</p>		
				
			<p class="form-row form-row-last" id="shipping_address_2_field" style="">
					<label for="shipping_address_2" class="hidden">Address 2</label>
					<input type="text" class="input-text" name="shipping_address_2" id="shipping_address_2" placeholder="Address 2 (optional)" value="">
				</p><div class="clear"></div>		
				
			<p class="form-row form-row-first" id="shipping_city_field" style="">
					<label for="shipping_city" class="">Town/City <abbr class="required" title="required">*</abbr></label>
					<input type="text" class="input-text" name="shipping_city" id="shipping_city" placeholder="Town/City" value="">
				</p>		
				
			<p class="form-row form-row-last update_totals_on_change" id="shipping_postcode_field" style="">
					<label for="shipping_postcode" class="">Postcode <abbr class="required" title="required">*</abbr></label>
					<input type="text" class="input-text" name="shipping_postcode" id="shipping_postcode" placeholder="Postcode" value="">
				</p><div class="clear"></div>		
				
			<p class="form-row form-row-first update_totals_on_change country_select" id="shipping_country_field">
					<label for="shipping_country" class="">Country <abbr class="required" title="required">*</abbr></label>
					<select name="shipping_country" id="shipping_country" class="country_to_state form-row-first update_totals_on_change country_select chzn-done" style="display: none; ">
						<option value="">Select a country…</option><option value="AX">Åland Islands</option><option value="AF">Afghanistan</option><option value="AL">Albania</option><option value="DZ">Algeria</option><option value="AS">American Samoa</option><option value="AD">Andorra</option><option value="AO">Angola</option><option value="AI">Anguilla</option><option value="AQ">Antarctica</option><option value="AG">Antigua and Barbuda</option><option value="AR">Argentina</option><option value="AM">Armenia</option><option value="AW">Aruba</option><option value="AU">Australia</option><option value="AT">Austria</option><option value="AZ">Azerbaijan</option><option value="BS">Bahamas</option><option value="BH">Bahrain</option><option value="BD">Bangladesh</option><option value="BB">Barbados</option><option value="BY">Belarus</option><option value="BE">Belgium</option><option value="BZ">Belize</option><option value="BJ">Benin</option><option value="BM">Bermuda</option><option value="BT">Bhutan</option><option value="BO">Bolivia</option><option value="BA">Bosnia and Herzegovina</option><option value="BW">Botswana</option><option value="BR">Brazil</option><option value="IO">British Indian Ocean Territory</option><option value="VG">British Virgin Islands</option><option value="BN">Brunei</option><option value="BG">Bulgaria</option><option value="BF">Burkina Faso</option><option value="BI">Burundi</option><option value="KH">Cambodia</option><option value="CM">Cameroon</option><option value="CA">Canada</option><option value="CV">Cape Verde</option><option value="KY">Cayman Islands</option><option value="CF">Central African Republic</option><option value="TD">Chad</option><option value="CL">Chile</option><option value="CN">China</option><option value="CX">Christmas Island</option><option value="CC">Cocos (Keeling) Islands</option><option value="CO">Colombia</option><option value="KM">Comoros</option><option value="CG">Congo (Brazzaville)</option><option value="CD">Congo (Kinshasa)</option><option value="CK">Cook Islands</option><option value="CR">Costa Rica</option><option value="HR">Croatia</option><option value="CU">Cuba</option><option value="CY">Cyprus</option><option value="CZ">Czech Republic</option><option value="DK">Denmark</option><option value="DJ">Djibouti</option><option value="DM">Dominica</option><option value="DO">Dominican Republic</option><option value="EC">Ecuador</option><option value="EG">Egypt</option><option value="SV">El Salvador</option><option value="GQ">Equatorial Guinea</option><option value="ER">Eritrea</option><option value="EE">Estonia</option><option value="ET">Ethiopia</option><option value="FK">Falkland Islands</option><option value="FO">Faroe Islands</option><option value="FJ">Fiji</option><option value="FI">Finland</option><option value="FR">France</option><option value="GF">French Guiana</option><option value="PF">French Polynesia</option><option value="TF">French Southern Territories</option><option value="GA">Gabon</option><option value="GM">Gambia</option><option value="GE">Georgia</option><option value="DE">Germany</option><option value="GH">Ghana</option><option value="GI">Gibraltar</option><option value="GR">Greece</option><option value="GL">Greenland</option><option value="GD">Grenada</option><option value="GP">Guadeloupe</option><option value="GU">Guam</option><option value="GT">Guatemala</option><option value="GG">Guernsey</option><option value="GN">Guinea</option><option value="GW">Guinea-Bissau</option><option value="GY">Guyana</option><option value="HT">Haiti</option><option value="HN">Honduras</option><option value="HK">Hong Kong</option><option value="HU">Hungary</option><option value="IS">Iceland</option><option value="IN">India</option><option value="ID">Indonesia</option><option value="IR">Iran</option><option value="IQ">Iraq</option><option value="IE">Ireland</option><option value="IM">Isle of Man</option><option value="IL">Israel</option><option value="IT">Italy</option><option value="CI">Ivory Coast</option><option value="JM">Jamaica</option><option value="JP">Japan</option><option value="JE">Jersey</option><option value="JO">Jordan</option><option value="KZ">Kazakhstan</option><option value="KE">Kenya</option><option value="KI">Kiribati</option><option value="KW">Kuwait</option><option value="KG">Kyrgyzstan</option><option value="LA">Laos</option><option value="LV">Latvia</option><option value="LB">Lebanon</option><option value="LS">Lesotho</option><option value="LR">Liberia</option><option value="LY">Libya</option><option value="LI">Liechtenstein</option><option value="LT">Lithuania</option><option value="LU">Luxembourg</option><option value="MO">Macao S.A.R., China</option><option value="MK">Macedonia</option><option value="MG">Madagascar</option><option value="MW">Malawi</option><option value="MY">Malaysia</option><option value="MV">Maldives</option><option value="ML">Mali</option><option value="MT">Malta</option><option value="MH">Marshall Islands</option><option value="MQ">Martinique</option><option value="MR">Mauritania</option><option value="MU">Mauritius</option><option value="YT">Mayotte</option><option value="MX">Mexico</option><option value="FM">Micronesia</option><option value="MD">Moldova</option><option value="MC">Monaco</option><option value="MN">Mongolia</option><option value="ME">Montenegro</option><option value="MS">Montserrat</option><option value="MA">Morocco</option><option value="MZ">Mozambique</option><option value="MM">Myanmar</option><option value="NA">Namibia</option><option value="NR">Nauru</option><option value="NP">Nepal</option><option value="NL">Netherlands</option><option value="AN">Netherlands Antilles</option><option value="NC">New Caledonia</option><option value="NZ">New Zealand</option><option value="NI">Nicaragua</option><option value="NE">Niger</option><option value="NG">Nigeria</option><option value="NU">Niue</option><option value="NF">Norfolk Island</option><option value="KP">North Korea</option><option value="MP">Northern Mariana Islands</option><option value="NO">Norway</option><option value="OM">Oman</option><option value="PK">Pakistan</option><option value="PW">Palau</option><option value="PS">Palestinian Territory</option><option value="PA">Panama</option><option value="PG">Papua New Guinea</option><option value="PY">Paraguay</option><option value="PE">Peru</option><option value="PH">Philippines</option><option value="PN">Pitcairn</option><option value="PL">Poland</option><option value="PT">Portugal</option><option value="PR">Puerto Rico</option><option value="QA">Qatar</option><option value="RE">Reunion</option><option value="RO">Romania</option><option value="RU">Russia</option><option value="RW">Rwanda</option><option value="ST">São Tomé and Príncipe</option><option value="BL">Saint Barthélemy</option><option value="SH">Saint Helena</option><option value="KN">Saint Kitts and Nevis</option><option value="LC">Saint Lucia</option><option value="MF">Saint Martin (French part)</option><option value="PM">Saint Pierre and Miquelon</option><option value="VC">Saint Vincent and the Grenadines</option><option value="WS">Samoa</option><option value="SM">San Marino</option><option value="SA">Saudi Arabia</option><option value="SN">Senegal</option><option value="RS">Serbia</option><option value="SC">Seychelles</option><option value="SL">Sierra Leone</option><option value="SG">Singapore</option><option value="SK">Slovakia</option><option value="SI">Slovenia</option><option value="SB">Solomon Islands</option><option value="SO">Somalia</option><option value="ZA">South Africa</option><option value="GS">South Georgia/Sandwich Islands</option><option value="KR">South Korea</option><option value="ES">Spain</option><option value="LK">Sri Lanka</option><option value="SD">Sudan</option><option value="SR">Suriname</option><option value="SJ">Svalbard and Jan Mayen</option><option value="SZ">Swaziland</option><option value="SE">Sweden</option><option value="CH">Switzerland</option><option value="SY">Syria</option><option value="TW">Taiwan</option><option value="TJ">Tajikistan</option><option value="TZ">Tanzania</option><option value="TH">Thailand</option><option value="TL">Timor-Leste</option><option value="TG">Togo</option><option value="TK">Tokelau</option><option value="TO">Tonga</option><option value="TT">Trinidad and Tobago</option><option value="TN">Tunisia</option><option value="TR">Turkey</option><option value="TM">Turkmenistan</option><option value="TC">Turks and Caicos Islands</option><option value="TV">Tuvalu</option><option value="VI">U.S. Virgin Islands</option><option value="USAF">US Armed Forces</option><option value="UM">US Minor Outlying Islands</option><option value="UG">Uganda</option><option value="UA">Ukraine</option><option value="AE">United Arab Emirates</option><option value="GB" selected="selected">United Kingdom</option><option value="US">United States</option><option value="UY">Uruguay</option><option value="UZ">Uzbekistan</option><option value="VU">Vanuatu</option><option value="VA">Vatican</option><option value="VE">Venezuela</option><option value="VN">Vietnam</option><option value="WF">Wallis and Futuna</option><option value="EH">Western Sahara</option><option value="YE">Yemen</option><option value="ZM">Zambia</option><option value="ZW">Zimbabwe</option></select><div id="shipping_country_chzn" class="chzn-container chzn-container-single" style="width: 222px;"><a href="javascript:void(0)" class="chzn-single"><span>United Kingdom</span><div><b></b></div></a><div class="chzn-drop" style="left: -9000px; width: 220px; top: 30px; "><div class="chzn-search"><input type="text" autocomplete="off" style="width: 185px; "></div><ul class="chzn-results"><li id="shipping_country_chzn_o_0" class="active-result" style="">Select a country…</li><li id="shipping_country_chzn_o_1" class="active-result" style="">Åland Islands</li><li id="shipping_country_chzn_o_2" class="active-result" style="">Afghanistan</li><li id="shipping_country_chzn_o_3" class="active-result" style="">Albania</li><li id="shipping_country_chzn_o_4" class="active-result" style="">Algeria</li><li id="shipping_country_chzn_o_5" class="active-result" style="">American Samoa</li><li id="shipping_country_chzn_o_6" class="active-result" style="">Andorra</li><li id="shipping_country_chzn_o_7" class="active-result" style="">Angola</li><li id="shipping_country_chzn_o_8" class="active-result" style="">Anguilla</li><li id="shipping_country_chzn_o_9" class="active-result" style="">Antarctica</li><li id="shipping_country_chzn_o_10" class="active-result" style="">Antigua and Barbuda</li><li id="shipping_country_chzn_o_11" class="active-result" style="">Argentina</li><li id="shipping_country_chzn_o_12" class="active-result" style="">Armenia</li><li id="shipping_country_chzn_o_13" class="active-result" style="">Aruba</li><li id="shipping_country_chzn_o_14" class="active-result" style="">Australia</li><li id="shipping_country_chzn_o_15" class="active-result" style="">Austria</li><li id="shipping_country_chzn_o_16" class="active-result" style="">Azerbaijan</li><li id="shipping_country_chzn_o_17" class="active-result" style="">Bahamas</li><li id="shipping_country_chzn_o_18" class="active-result" style="">Bahrain</li><li id="shipping_country_chzn_o_19" class="active-result" style="">Bangladesh</li><li id="shipping_country_chzn_o_20" class="active-result" style="">Barbados</li><li id="shipping_country_chzn_o_21" class="active-result" style="">Belarus</li><li id="shipping_country_chzn_o_22" class="active-result" style="">Belgium</li><li id="shipping_country_chzn_o_23" class="active-result" style="">Belize</li><li id="shipping_country_chzn_o_24" class="active-result" style="">Benin</li><li id="shipping_country_chzn_o_25" class="active-result" style="">Bermuda</li><li id="shipping_country_chzn_o_26" class="active-result" style="">Bhutan</li><li id="shipping_country_chzn_o_27" class="active-result" style="">Bolivia</li><li id="shipping_country_chzn_o_28" class="active-result" style="">Bosnia and Herzegovina</li><li id="shipping_country_chzn_o_29" class="active-result" style="">Botswana</li><li id="shipping_country_chzn_o_30" class="active-result" style="">Brazil</li><li id="shipping_country_chzn_o_31" class="active-result" style="">British Indian Ocean Territory</li><li id="shipping_country_chzn_o_32" class="active-result" style="">British Virgin Islands</li><li id="shipping_country_chzn_o_33" class="active-result" style="">Brunei</li><li id="shipping_country_chzn_o_34" class="active-result" style="">Bulgaria</li><li id="shipping_country_chzn_o_35" class="active-result" style="">Burkina Faso</li><li id="shipping_country_chzn_o_36" class="active-result" style="">Burundi</li><li id="shipping_country_chzn_o_37" class="active-result" style="">Cambodia</li><li id="shipping_country_chzn_o_38" class="active-result" style="">Cameroon</li><li id="shipping_country_chzn_o_39" class="active-result" style="">Canada</li><li id="shipping_country_chzn_o_40" class="active-result" style="">Cape Verde</li><li id="shipping_country_chzn_o_41" class="active-result" style="">Cayman Islands</li><li id="shipping_country_chzn_o_42" class="active-result" style="">Central African Republic</li><li id="shipping_country_chzn_o_43" class="active-result" style="">Chad</li><li id="shipping_country_chzn_o_44" class="active-result" style="">Chile</li><li id="shipping_country_chzn_o_45" class="active-result" style="">China</li><li id="shipping_country_chzn_o_46" class="active-result" style="">Christmas Island</li><li id="shipping_country_chzn_o_47" class="active-result" style="">Cocos (Keeling) Islands</li><li id="shipping_country_chzn_o_48" class="active-result" style="">Colombia</li><li id="shipping_country_chzn_o_49" class="active-result" style="">Comoros</li><li id="shipping_country_chzn_o_50" class="active-result" style="">Congo (Brazzaville)</li><li id="shipping_country_chzn_o_51" class="active-result" style="">Congo (Kinshasa)</li><li id="shipping_country_chzn_o_52" class="active-result" style="">Cook Islands</li><li id="shipping_country_chzn_o_53" class="active-result" style="">Costa Rica</li><li id="shipping_country_chzn_o_54" class="active-result" style="">Croatia</li><li id="shipping_country_chzn_o_55" class="active-result" style="">Cuba</li><li id="shipping_country_chzn_o_56" class="active-result" style="">Cyprus</li><li id="shipping_country_chzn_o_57" class="active-result" style="">Czech Republic</li><li id="shipping_country_chzn_o_58" class="active-result" style="">Denmark</li><li id="shipping_country_chzn_o_59" class="active-result" style="">Djibouti</li><li id="shipping_country_chzn_o_60" class="active-result" style="">Dominica</li><li id="shipping_country_chzn_o_61" class="active-result" style="">Dominican Republic</li><li id="shipping_country_chzn_o_62" class="active-result" style="">Ecuador</li><li id="shipping_country_chzn_o_63" class="active-result" style="">Egypt</li><li id="shipping_country_chzn_o_64" class="active-result" style="">El Salvador</li><li id="shipping_country_chzn_o_65" class="active-result" style="">Equatorial Guinea</li><li id="shipping_country_chzn_o_66" class="active-result" style="">Eritrea</li><li id="shipping_country_chzn_o_67" class="active-result" style="">Estonia</li><li id="shipping_country_chzn_o_68" class="active-result" style="">Ethiopia</li><li id="shipping_country_chzn_o_69" class="active-result" style="">Falkland Islands</li><li id="shipping_country_chzn_o_70" class="active-result" style="">Faroe Islands</li><li id="shipping_country_chzn_o_71" class="active-result" style="">Fiji</li><li id="shipping_country_chzn_o_72" class="active-result" style="">Finland</li><li id="shipping_country_chzn_o_73" class="active-result" style="">France</li><li id="shipping_country_chzn_o_74" class="active-result" style="">French Guiana</li><li id="shipping_country_chzn_o_75" class="active-result" style="">French Polynesia</li><li id="shipping_country_chzn_o_76" class="active-result" style="">French Southern Territories</li><li id="shipping_country_chzn_o_77" class="active-result" style="">Gabon</li><li id="shipping_country_chzn_o_78" class="active-result" style="">Gambia</li><li id="shipping_country_chzn_o_79" class="active-result" style="">Georgia</li><li id="shipping_country_chzn_o_80" class="active-result" style="">Germany</li><li id="shipping_country_chzn_o_81" class="active-result" style="">Ghana</li><li id="shipping_country_chzn_o_82" class="active-result" style="">Gibraltar</li><li id="shipping_country_chzn_o_83" class="active-result" style="">Greece</li><li id="shipping_country_chzn_o_84" class="active-result" style="">Greenland</li><li id="shipping_country_chzn_o_85" class="active-result" style="">Grenada</li><li id="shipping_country_chzn_o_86" class="active-result" style="">Guadeloupe</li><li id="shipping_country_chzn_o_87" class="active-result" style="">Guam</li><li id="shipping_country_chzn_o_88" class="active-result" style="">Guatemala</li><li id="shipping_country_chzn_o_89" class="active-result" style="">Guernsey</li><li id="shipping_country_chzn_o_90" class="active-result" style="">Guinea</li><li id="shipping_country_chzn_o_91" class="active-result" style="">Guinea-Bissau</li><li id="shipping_country_chzn_o_92" class="active-result" style="">Guyana</li><li id="shipping_country_chzn_o_93" class="active-result" style="">Haiti</li><li id="shipping_country_chzn_o_94" class="active-result" style="">Honduras</li><li id="shipping_country_chzn_o_95" class="active-result" style="">Hong Kong</li><li id="shipping_country_chzn_o_96" class="active-result" style="">Hungary</li><li id="shipping_country_chzn_o_97" class="active-result" style="">Iceland</li><li id="shipping_country_chzn_o_98" class="active-result" style="">India</li><li id="shipping_country_chzn_o_99" class="active-result" style="">Indonesia</li><li id="shipping_country_chzn_o_100" class="active-result" style="">Iran</li><li id="shipping_country_chzn_o_101" class="active-result" style="">Iraq</li><li id="shipping_country_chzn_o_102" class="active-result" style="">Ireland</li><li id="shipping_country_chzn_o_103" class="active-result" style="">Isle of Man</li><li id="shipping_country_chzn_o_104" class="active-result" style="">Israel</li><li id="shipping_country_chzn_o_105" class="active-result" style="">Italy</li><li id="shipping_country_chzn_o_106" class="active-result" style="">Ivory Coast</li><li id="shipping_country_chzn_o_107" class="active-result" style="">Jamaica</li><li id="shipping_country_chzn_o_108" class="active-result" style="">Japan</li><li id="shipping_country_chzn_o_109" class="active-result" style="">Jersey</li><li id="shipping_country_chzn_o_110" class="active-result" style="">Jordan</li><li id="shipping_country_chzn_o_111" class="active-result" style="">Kazakhstan</li><li id="shipping_country_chzn_o_112" class="active-result" style="">Kenya</li><li id="shipping_country_chzn_o_113" class="active-result" style="">Kiribati</li><li id="shipping_country_chzn_o_114" class="active-result" style="">Kuwait</li><li id="shipping_country_chzn_o_115" class="active-result" style="">Kyrgyzstan</li><li id="shipping_country_chzn_o_116" class="active-result" style="">Laos</li><li id="shipping_country_chzn_o_117" class="active-result" style="">Latvia</li><li id="shipping_country_chzn_o_118" class="active-result" style="">Lebanon</li><li id="shipping_country_chzn_o_119" class="active-result" style="">Lesotho</li><li id="shipping_country_chzn_o_120" class="active-result" style="">Liberia</li><li id="shipping_country_chzn_o_121" class="active-result" style="">Libya</li><li id="shipping_country_chzn_o_122" class="active-result" style="">Liechtenstein</li><li id="shipping_country_chzn_o_123" class="active-result" style="">Lithuania</li><li id="shipping_country_chzn_o_124" class="active-result" style="">Luxembourg</li><li id="shipping_country_chzn_o_125" class="active-result" style="">Macao S.A.R., China</li><li id="shipping_country_chzn_o_126" class="active-result" style="">Macedonia</li><li id="shipping_country_chzn_o_127" class="active-result" style="">Madagascar</li><li id="shipping_country_chzn_o_128" class="active-result" style="">Malawi</li><li id="shipping_country_chzn_o_129" class="active-result" style="">Malaysia</li><li id="shipping_country_chzn_o_130" class="active-result" style="">Maldives</li><li id="shipping_country_chzn_o_131" class="active-result" style="">Mali</li><li id="shipping_country_chzn_o_132" class="active-result" style="">Malta</li><li id="shipping_country_chzn_o_133" class="active-result" style="">Marshall Islands</li><li id="shipping_country_chzn_o_134" class="active-result" style="">Martinique</li><li id="shipping_country_chzn_o_135" class="active-result" style="">Mauritania</li><li id="shipping_country_chzn_o_136" class="active-result" style="">Mauritius</li><li id="shipping_country_chzn_o_137" class="active-result" style="">Mayotte</li><li id="shipping_country_chzn_o_138" class="active-result" style="">Mexico</li><li id="shipping_country_chzn_o_139" class="active-result" style="">Micronesia</li><li id="shipping_country_chzn_o_140" class="active-result" style="">Moldova</li><li id="shipping_country_chzn_o_141" class="active-result" style="">Monaco</li><li id="shipping_country_chzn_o_142" class="active-result" style="">Mongolia</li><li id="shipping_country_chzn_o_143" class="active-result" style="">Montenegro</li><li id="shipping_country_chzn_o_144" class="active-result" style="">Montserrat</li><li id="shipping_country_chzn_o_145" class="active-result" style="">Morocco</li><li id="shipping_country_chzn_o_146" class="active-result" style="">Mozambique</li><li id="shipping_country_chzn_o_147" class="active-result" style="">Myanmar</li><li id="shipping_country_chzn_o_148" class="active-result" style="">Namibia</li><li id="shipping_country_chzn_o_149" class="active-result" style="">Nauru</li><li id="shipping_country_chzn_o_150" class="active-result" style="">Nepal</li><li id="shipping_country_chzn_o_151" class="active-result" style="">Netherlands</li><li id="shipping_country_chzn_o_152" class="active-result" style="">Netherlands Antilles</li><li id="shipping_country_chzn_o_153" class="active-result" style="">New Caledonia</li><li id="shipping_country_chzn_o_154" class="active-result" style="">New Zealand</li><li id="shipping_country_chzn_o_155" class="active-result" style="">Nicaragua</li><li id="shipping_country_chzn_o_156" class="active-result" style="">Niger</li><li id="shipping_country_chzn_o_157" class="active-result" style="">Nigeria</li><li id="shipping_country_chzn_o_158" class="active-result" style="">Niue</li><li id="shipping_country_chzn_o_159" class="active-result" style="">Norfolk Island</li><li id="shipping_country_chzn_o_160" class="active-result" style="">North Korea</li><li id="shipping_country_chzn_o_161" class="active-result" style="">Northern Mariana Islands</li><li id="shipping_country_chzn_o_162" class="active-result" style="">Norway</li><li id="shipping_country_chzn_o_163" class="active-result" style="">Oman</li><li id="shipping_country_chzn_o_164" class="active-result" style="">Pakistan</li><li id="shipping_country_chzn_o_165" class="active-result" style="">Palau</li><li id="shipping_country_chzn_o_166" class="active-result" style="">Palestinian Territory</li><li id="shipping_country_chzn_o_167" class="active-result" style="">Panama</li><li id="shipping_country_chzn_o_168" class="active-result" style="">Papua New Guinea</li><li id="shipping_country_chzn_o_169" class="active-result" style="">Paraguay</li><li id="shipping_country_chzn_o_170" class="active-result" style="">Peru</li><li id="shipping_country_chzn_o_171" class="active-result" style="">Philippines</li><li id="shipping_country_chzn_o_172" class="active-result" style="">Pitcairn</li><li id="shipping_country_chzn_o_173" class="active-result" style="">Poland</li><li id="shipping_country_chzn_o_174" class="active-result" style="">Portugal</li><li id="shipping_country_chzn_o_175" class="active-result" style="">Puerto Rico</li><li id="shipping_country_chzn_o_176" class="active-result" style="">Qatar</li><li id="shipping_country_chzn_o_177" class="active-result" style="">Reunion</li><li id="shipping_country_chzn_o_178" class="active-result" style="">Romania</li><li id="shipping_country_chzn_o_179" class="active-result" style="">Russia</li><li id="shipping_country_chzn_o_180" class="active-result" style="">Rwanda</li><li id="shipping_country_chzn_o_181" class="active-result" style="">São Tomé and Príncipe</li><li id="shipping_country_chzn_o_182" class="active-result" style="">Saint Barthélemy</li><li id="shipping_country_chzn_o_183" class="active-result" style="">Saint Helena</li><li id="shipping_country_chzn_o_184" class="active-result" style="">Saint Kitts and Nevis</li><li id="shipping_country_chzn_o_185" class="active-result" style="">Saint Lucia</li><li id="shipping_country_chzn_o_186" class="active-result" style="">Saint Martin (French part)</li><li id="shipping_country_chzn_o_187" class="active-result" style="">Saint Pierre and Miquelon</li><li id="shipping_country_chzn_o_188" class="active-result" style="">Saint Vincent and the Grenadines</li><li id="shipping_country_chzn_o_189" class="active-result" style="">Samoa</li><li id="shipping_country_chzn_o_190" class="active-result" style="">San Marino</li><li id="shipping_country_chzn_o_191" class="active-result" style="">Saudi Arabia</li><li id="shipping_country_chzn_o_192" class="active-result" style="">Senegal</li><li id="shipping_country_chzn_o_193" class="active-result" style="">Serbia</li><li id="shipping_country_chzn_o_194" class="active-result" style="">Seychelles</li><li id="shipping_country_chzn_o_195" class="active-result" style="">Sierra Leone</li><li id="shipping_country_chzn_o_196" class="active-result" style="">Singapore</li><li id="shipping_country_chzn_o_197" class="active-result" style="">Slovakia</li><li id="shipping_country_chzn_o_198" class="active-result" style="">Slovenia</li><li id="shipping_country_chzn_o_199" class="active-result" style="">Solomon Islands</li><li id="shipping_country_chzn_o_200" class="active-result" style="">Somalia</li><li id="shipping_country_chzn_o_201" class="active-result" style="">South Africa</li><li id="shipping_country_chzn_o_202" class="active-result" style="">South Georgia/Sandwich Islands</li><li id="shipping_country_chzn_o_203" class="active-result" style="">South Korea</li><li id="shipping_country_chzn_o_204" class="active-result" style="">Spain</li><li id="shipping_country_chzn_o_205" class="active-result" style="">Sri Lanka</li><li id="shipping_country_chzn_o_206" class="active-result" style="">Sudan</li><li id="shipping_country_chzn_o_207" class="active-result" style="">Suriname</li><li id="shipping_country_chzn_o_208" class="active-result" style="">Svalbard and Jan Mayen</li><li id="shipping_country_chzn_o_209" class="active-result" style="">Swaziland</li><li id="shipping_country_chzn_o_210" class="active-result" style="">Sweden</li><li id="shipping_country_chzn_o_211" class="active-result" style="">Switzerland</li><li id="shipping_country_chzn_o_212" class="active-result" style="">Syria</li><li id="shipping_country_chzn_o_213" class="active-result" style="">Taiwan</li><li id="shipping_country_chzn_o_214" class="active-result" style="">Tajikistan</li><li id="shipping_country_chzn_o_215" class="active-result" style="">Tanzania</li><li id="shipping_country_chzn_o_216" class="active-result" style="">Thailand</li><li id="shipping_country_chzn_o_217" class="active-result" style="">Timor-Leste</li><li id="shipping_country_chzn_o_218" class="active-result" style="">Togo</li><li id="shipping_country_chzn_o_219" class="active-result" style="">Tokelau</li><li id="shipping_country_chzn_o_220" class="active-result" style="">Tonga</li><li id="shipping_country_chzn_o_221" class="active-result" style="">Trinidad and Tobago</li><li id="shipping_country_chzn_o_222" class="active-result" style="">Tunisia</li><li id="shipping_country_chzn_o_223" class="active-result" style="">Turkey</li><li id="shipping_country_chzn_o_224" class="active-result" style="">Turkmenistan</li><li id="shipping_country_chzn_o_225" class="active-result" style="">Turks and Caicos Islands</li><li id="shipping_country_chzn_o_226" class="active-result" style="">Tuvalu</li><li id="shipping_country_chzn_o_227" class="active-result" style="">U.S. Virgin Islands</li><li id="shipping_country_chzn_o_228" class="active-result" style="">US Armed Forces</li><li id="shipping_country_chzn_o_229" class="active-result" style="">US Minor Outlying Islands</li><li id="shipping_country_chzn_o_230" class="active-result" style="">Uganda</li><li id="shipping_country_chzn_o_231" class="active-result" style="">Ukraine</li><li id="shipping_country_chzn_o_232" class="active-result" style="">United Arab Emirates</li><li id="shipping_country_chzn_o_233" class="active-result result-selected" style="">United Kingdom</li><li id="shipping_country_chzn_o_234" class="active-result" style="">United States</li><li id="shipping_country_chzn_o_235" class="active-result" style="">Uruguay</li><li id="shipping_country_chzn_o_236" class="active-result" style="">Uzbekistan</li><li id="shipping_country_chzn_o_237" class="active-result" style="">Vanuatu</li><li id="shipping_country_chzn_o_238" class="active-result" style="">Vatican</li><li id="shipping_country_chzn_o_239" class="active-result" style="">Venezuela</li><li id="shipping_country_chzn_o_240" class="active-result" style="">Vietnam</li><li id="shipping_country_chzn_o_241" class="active-result" style="">Wallis and Futuna</li><li id="shipping_country_chzn_o_242" class="active-result" style="">Western Sahara</li><li id="shipping_country_chzn_o_243" class="active-result" style="">Yemen</li><li id="shipping_country_chzn_o_244" class="active-result" style="">Zambia</li><li id="shipping_country_chzn_o_245" class="active-result" style="">Zimbabwe</li></ul></div></div></p>		
				
			<p class="form-row form-row-last update_totals_on_change" id="shipping_state_field">
					<label for="shipping_state" class="">County</label><input type="text" class="input-text" value="" placeholder="County" name="shipping_state" id="shipping_state"></p><div class="clear"></div>		
				
										
	</div>
	
		<p class="form-row notes" id="order_comments_field">
					<label for="order_comments" class="">Order Notes</label>
					<textarea name="order_comments" class="input-text" id="order_comments" placeholder="Notes about your order, e.g. special notes for delivery." cols="5" rows="2"></textarea>
				</p>					
		</div>
	</div>
	
	<h3 id="order_review_heading">Your order</h3>
	
	<div id="order_review">
	
	<table class="shop_table">
		<thead>
			<tr>
				<th class="product-name">Product</th>
				<th class="product-quantity">Qty</th>
				<th class="product-total">Totals</th>
			</tr>
		</thead>
		<tfoot>
		
			<tr class="cart-subtotal">
				<th colspan="2"><strong>Cart Subtotal</strong></th>
				<td><span class="amount">$10.99</span></td>
			</tr>
					
			<tr class="shipping">
				<th colspan="2">Shipping</th>
				<td>
				Local Pickup<input type="hidden" name="shipping_method" id="shipping_method" value="free_shipping"></td>
				
			</tr>
						
			<tr class="total">
				<th colspan="2"><strong>Order Total</strong></th>
				<td><strong><span class="amount">$10.99</span></strong></td>
			</tr>
			
						
		</tfoot>
		<tbody>
			
								<tr class="checkout_table_item">
									<td class="product-name">Custom Shirt</td>
									<td class="product-quantity">1</td>
									<td class="product-total"><span class="amount">$10.99</span></td>
								</tr>		</tbody>
	</table>
	
	<div id="payment">
				<ul class="payment_methods methods">
						<li>
						    <input type="radio" id="payment_method_cheque" class="input-radio" name="payment_method" value="cheque">
						    <label for="payment_method_cheque">Google Checkout</label> 
							<div class="payment_box payment_method_cheque" style="display:none;"><p>Pay via Google Checkout</p>
                            </div>						
                        </li>
						<li>
						    <input type="radio" id="payment_method_paypal" class="input-radio" name="payment_method" value="paypal" checked="checked">
						    <label for="payment_method_paypal">PayPal <img src="http://demo2.woothemes.com/shelflife/wp-content/plugins/woocommerce/assets/images/icons/paypal.png" alt="PayPal"></label> 
							<div class="payment_box payment_method_paypal" style=""><p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account</p>
                            </div>						
                        </li>
				</ul>
		
		<div class="form-row place-order">
		
			<noscript>Since your browser does not support JavaScript, or it is disabled, please ensure you click the &lt;em&gt;Update Totals&lt;/em&gt; button before placing your order. You may be charged more than the amount stated above if you fail to do so.&lt;br/&gt;&lt;input type="submit" class="button-alt" name="woocommerce_checkout_update_totals" value="Update totals" /&gt;</noscript>
		
			<input type="hidden" id="_n" name="_n" value="0bad911ea5"><input type="hidden" name="_wp_http_referer" value="/shelflife/wp-admin/admin-ajax.php">			
						
			<input type="submit" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="Place order">
						
		</div>
		
		<div class="clear"></div>

	</div>
	
</div>	
</form>
</section><!-- /.entry -->
</article><!-- /.post -->
</section>