@{
    ViewBag.Title = "About";
}

<div id="page" class="container">
		<div id="heading-title">
			<h2>Our Story</h2>
		</div>
		<div id="page-bg">
			<div id="page-bgtop">
				<div id="content">
					<h2 class="title">Veroeros ipsum consequat</h2>
					<p><img src="images/pics01.jpg" alt="" width="170" height="185" class="image-style1" />Donec nec arcu tortor volutpat sed porta. Nullam eleifend condimentum adipiscing. vestibulum ante ipsum primis in faucibus orci luctus ultrices posuere cubilia. Aliquam eget porta dolor. Nam ac nulla sed veroeros neque lacinia dignissim. Vivamus convallis nunc sit amet tellus varius porta. Nullam et tellus eu est pretium semper vel amet  odio. 
						Phasellus vel erat leo, eu fermentum eros. Fusce ut fringilla purus. Aliquam sed tincidunt nibh. Nam quis imperdiet neque. Integer egestas feugiat tristique. Pellentesque augue dui, laoreet ut elementum consequat.<br />
					</p>
					<ul class="list-style1">
						<li><a href="#"> Fusce ut fringilla purus aliquam sed tincidunt nibh.</a></li>
						<li><a href="#">Pellentesque augue dui laoreet ut elementum consequat. </a></li>
						<li><a href="#">Leo eu fermentum eros fusce ut fringilla purus aliquam.</a></li>
					</ul>
				</div>
				<div id="sidebar">
                    <h2 class="title">Contact:</h2>
                    <br />
                    <p>Email:<br />support@social-threads.com</p>
                    <br />
                    <p>Phone:<br />1-800-555-5555</p>
                    <br />
                    <p>Address:<br />17188 Winding Creek Dr.<br />
                            Orland Park, IL 60467</p>
					
				</div>
			</div>
		</div>
		<div id="page-bgbtm"></div>
	</div>