/* RED ALT STYLE */
/* Imports */
body {
  color: #333333;
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #000000;
  font-weight: normal;
  font-family: "Bitter", sans-serif;
}
hr {
  background-color: #cfacac;
  border: 0;
  height: 1px;
  margin-bottom: 20px;
}
input, textarea {
  padding: 5px;
  border-color: #c09292 #cfacac #cfacac #c09292;
  border-width: 1px;
  border-style: solid;
  color: #333333;
}
a {
  color: #222222;
}
a:hover {
  color: #000000;
}
#wrapper {
  border-top: 1px solid #cfacac;
}
#navigation {
  font-family: "Bitter", sans-serif;
}
#navigation .mini-cart > li {
  background: #222222;
  background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#080808));
  background: -webkit-linear-gradient(#222222, #080808);
  background: -moz-linear-gradient(center top, #222222 0%, #080808 100%);
  background: -moz-gradient(center top, #222222 0%, #080808 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#222222,endColorstr=#080808);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#222222, endColorstr=#080808)";
}
#navigation .mini-cart > li:hover {
  background: #3c3c3c;
  background: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222222));
  background: -webkit-linear-gradient(#3c3c3c, #222222);
  background: -moz-linear-gradient(center top, #3c3c3c 0%, #222222 100%);
  background: -moz-gradient(center top, #3c3c3c 0%, #222222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3c3c3c,endColorstr=#222222);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3c3c3c, endColorstr=#222222)";
}
#navigation .mini-cart a.cart-parent span {
  font-family: "Bitter", sans-serif;
}
.nav a {
  color: #e67d7d;
}
.nav a:hover {
  background: #480e0e;
  background: rgba(255, 255, 255, 0.07);
}
.nav li.current_page_item a,
.nav li.current_page_parent a,
.nav li.current-menu-ancestor a,
.nav li.current-cat a,
.nav li.li.current-menu-item a,
.nav li.sfHover a {
  background: #480e0e;
  background: rgba(255, 255, 255, 0.07);
}
#navigation .nav li ul li a {
  color: #f3bdbd;
}
#navigation .nav li ul li a:hover {
  background: #480e0e;
  background: rgba(255, 255, 255, 0.07);
}
#navigation {
  border: 1px solid #000000;
  background: #3f0c0c;
  background: -webkit-gradient(linear, left top, left bottom, from(#3f0c0c), to(#2a0808));
  background: -webkit-linear-gradient(#3f0c0c, #2a0808);
  background: -moz-linear-gradient(center top, #3f0c0c 0%, #2a0808 100%);
  background: -moz-gradient(center top, #3f0c0c 0%, #2a0808 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3f0c0c,endColorstr=#2a0808);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3f0c0c, endColorstr=#2a0808)";
}
#header {
  background-color: #f3f0eb;
  border-top: 1px solid #000;
}
#header .site-title, #header .site-description {
  color: #000;
}
#header .site-title a, #header .site-description a {
  color: #000000;
}
#header .site-description {
  color: #4d4d4d;
}
#homepage-top #featured li img {
  border: 1px solid #cfacac;
}
#homepage-top #featured li h2 a {
  color: #000000;
}
#homepage-top #popular li div img {
  border: 1px solid #cfacac;
}
#homepage-top #popular li div img:hover {
  border-color: #bc8c8c;
}
#homepage-top #popular li div .price {
  color: #999999;
}
#homepage-top #promo .flexslider {
  background: #f3f0eb;
  border: 3px solid #f1e6e6;
}
#homepage-top #promo .flexslider ul.slides {
  border: 1px solid #cfacac;
}
#homepage-top #promo .flexslider ul.slides li article {
  font-family: "Bitter", sans-serif;
}
#homepage-top #promo .flexslider ul.slides li article h1 a {
  color: #000000;
}
#homepage-top #promo .flexslider ul.slides li article .excerpt {
  color: #b3b3b3;
}
#homepage-top .flex-control-nav li a {
  background: #baa88b;
}
#homepage-top .flex-control-nav li a:hover, #homepage-top .flex-control-nav li a.active {
  background: #3f0c0c;
}
#homepage-top .flex-direction-nav a {
  border: 1px solid #bc8c8c;
}
#homepage-top .flex-direction-nav a.prev {
  background-color: #f3f0eb;
}
#homepage-top .flex-direction-nav a.next {
  background-color: #f3f0eb;
}
#homepage-top .flex-direction-nav a:hover {
  background-color: #e9e4db;
}
#features {
  background: #f3f0eb;
  border: 1px solid #cfacac;
}
#features article a img.thumb {
  border: 1px solid #cfacac;
}
#features article a img.thumb:hover {
  border-color: #bc8c8c;
}
#features article a .icon {
  background: #3f0c0c;
  border: 1px solid #3f0c0c;
}
#features article h1 a {
  color: #333333;
}
#features article p {
  color: #454545;
}
#searchbar {
  font-family: "Bitter", sans-serif;
  border: 1px solid #cfacac;
  background: #f3f0eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f0eb), to(#e9e4db));
  background: -webkit-linear-gradient(#f3f0eb, #e9e4db);
  background: -moz-linear-gradient(center top, #f3f0eb 0%, #e9e4db 100%);
  background: -moz-gradient(center top, #f3f0eb 0%, #e9e4db 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb,endColorstr=#e9e4db);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb, endColorstr=#e9e4db)";
}
#searchbar ul {
  border-bottom: 1px solid #cfacac;
}
#searchbar ul li {
  border-bottom: 1px solid #cfacac;
}
#searchbar ul li a {
  color: #333333;
}
#searchbar ul li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#searchbar ul li:last-child {
  border-top: 1px solid #fff;
}
.breadcrumbs {
  color: #666666;
  border: 1px solid #cfacac;
  background: #f3f0eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f0eb), to(#e9e4db));
  background: -webkit-linear-gradient(#f3f0eb, #e9e4db);
  background: -moz-linear-gradient(center top, #f3f0eb 0%, #e9e4db 100%);
  background: -moz-gradient(center top, #f3f0eb 0%, #e9e4db 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb,endColorstr=#e9e4db);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb, endColorstr=#e9e4db)";
}
.breadcrumbs a {
  color: #666666;
}
.breadcrumbs a:hover {
  color: #333333;
}
#footer {
  color: #fff;
  background: #3f0c0c;
}
#footer a {
  color: #fff;
}
#footer-widgets {
  background: #f3f0eb;
  border-top: 1px solid #e0d8cb;
}
.archive_header {
  font-family: "Bitter", sans-serif;
  border-top: 1px solid #e2cccc;
  border-bottom: 1px solid #e2cccc;
}
.archive_header .catrss a {
  background: #222222;
  border: 1px solid #222222;
  color: #fff;
}
.archive_header .catrss a:hover {
  background: #080808;
}
.post header h1 a:link,
.page header h1 a:link,
.post header h1 a:visited,
.page header h1 a:visited {
  color: #000000;
}
.post, .search-results .page {
  border-bottom: 1px solid #e2cccc;
}
.post .post-meta,
.search-results .page .post-meta,
.post .post-more,
.search-results .page .post-more,
.post p.tags,
.search-results .page p.tags {
  color: #4d4d4d;
}
.post .post-meta a:link,
.search-results .page .post-meta a:link,
.post .post-more a:link,
.search-results .page .post-more a:link,
.post p.tags a:link,
.search-results .page p.tags a:link,
.post .post-meta a:visited,
.search-results .page .post-meta a:visited,
.post .post-more a:visited,
.search-results .page .post-more a:visited,
.post p.tags a:visited,
.search-results .page p.tags a:visited {
  color: #333333;
}
.post .post-meta a:link:hover,
.search-results .page .post-meta a:link:hover,
.post .post-more a:link:hover,
.search-results .page .post-more a:link:hover,
.post p.tags a:link:hover,
.search-results .page p.tags a:link:hover,
.post .post-meta a:visited:hover,
.search-results .page .post-meta a:visited:hover,
.post .post-more a:visited:hover,
.search-results .page .post-more a:visited:hover,
.post p.tags a:visited:hover,
.search-results .page p.tags a:visited:hover {
  color: #222222;
}
.post .wp-caption img, .search-results .page .wp-caption img {
  border: 1px solid #e2cccc;
}
.entry blockquote, #tab-description blockquote {
  color: #0d0d0d;
}
.nav-entries,
.wp-pagenavi,
.woo-pagination,
#post-entries {
  color: #666666;
  border: 1px solid #cfacac;
  background: #f3f0eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f0eb), to(#e9e4db));
  background: -webkit-linear-gradient(#f3f0eb, #e9e4db);
  background: -moz-linear-gradient(center top, #f3f0eb 0%, #e9e4db 100%);
  background: -moz-gradient(center top, #f3f0eb 0%, #e9e4db 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb,endColorstr=#e9e4db);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb, endColorstr=#e9e4db)";
}
.woo-pagination .page-numbers,
.nav-entries a span.nav-next,
.nav-entries a span.nav-prev,
#post-entries a {
  color: #404040;
  border: 1px solid #d8bcbc;
  background: #f3f0eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f0eb), to(#e9e4db));
  background: -webkit-linear-gradient(#f3f0eb, #e9e4db);
  background: -moz-linear-gradient(center top, #f3f0eb 0%, #e9e4db 100%);
  background: -moz-gradient(center top, #f3f0eb 0%, #e9e4db 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb,endColorstr=#e9e4db);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb, endColorstr=#e9e4db)";
}
.woo-pagination .page-numbers:hover,
.nav-entries a span.nav-next:hover,
.nav-entries a span.nav-prev:hover,
#post-entries a:hover {
  border-color: #cfacac;
}
.woo-pagination .page-numbers.current,
.nav-entries a span.nav-next.current,
.nav-entries a span.nav-prev.current,
#post-entries a.current {
  background: #cdc0ab;
  color: #3f0c0c;
}
#connect {
  border: 1px solid #d8bcbc;
  background: #f3f0eb;
}
#connect .col-left {
  border-bottom: 1px solid #d8bcbc;
}
#connect .related-posts ul li a {
  color: #333333;
}
.widget ul li a {
  color: #595959;
}
.widget_login,
.widget_shopping_cart,
.widget_price_filter,
.widget_layered_nav {
  color: #fff;
  background: #480e0e;
  border: 1px solid #320a0a;
}
.widget_login a:link,
.widget_shopping_cart a:link,
.widget_price_filter a:link,
.widget_layered_nav a:link,
.widget_login a:visited,
.widget_shopping_cart a:visited,
.widget_price_filter a:visited,
.widget_layered_nav a:visited {
  color: #fff;
}
.widget_login h3,
.widget_shopping_cart h3,
.widget_price_filter h3,
.widget_layered_nav h3 {
  border-bottom: 1px solid #140404;
}
.widget_login .button,
.widget_shopping_cart .button,
.widget_price_filter .button,
.widget_layered_nav .button,
.widget_login .submitbutton,
.widget_shopping_cart .submitbutton,
.widget_price_filter .submitbutton,
.widget_layered_nav .submitbutton {
  font-family: sans-serif;
  border: 1px solid #000000;
  background: #222222;
  background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#080808));
  background: -webkit-linear-gradient(#222222, #080808);
  background: -moz-linear-gradient(center top, #222222 0%, #080808 100%);
  background: -moz-gradient(center top, #222222 0%, #080808 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#222222,endColorstr=#080808);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#222222, endColorstr=#080808)";
}
.widget_login .button:hover,
.widget_shopping_cart .button:hover,
.widget_price_filter .button:hover,
.widget_layered_nav .button:hover,
.widget_login .submitbutton:hover,
.widget_shopping_cart .submitbutton:hover,
.widget_price_filter .submitbutton:hover,
.widget_layered_nav .submitbutton:hover {
  background: #3c3c3c;
  background: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222222));
  background: -webkit-linear-gradient(#3c3c3c, #222222);
  background: -moz-linear-gradient(center top, #3c3c3c 0%, #222222 100%);
  background: -moz-gradient(center top, #3c3c3c 0%, #222222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3c3c3c,endColorstr=#222222);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3c3c3c, endColorstr=#222222)";
}
.widget ul.product_list_widget,
.mini-cart ul.product_list_widget,
.widget ul.cart_list,
.mini-cart ul.cart_list {
  border: 1px solid #cfacac;
  background: #f3f0eb;
}
.widget ul.product_list_widget li,
.mini-cart ul.product_list_widget li,
.widget ul.cart_list li,
.mini-cart ul.cart_list li {
  border-bottom: 1px solid #e2cccc;
  border-top: 1px solid #fff;
}
.widget ul.product_list_widget li a,
.mini-cart ul.product_list_widget li a,
.widget ul.cart_list li a,
.mini-cart ul.cart_list li a {
  color: #333333;
}
.widget_login form input[type=text], .widget_login form input[type=password] {
  border: 1px solid #320a0a;
  background: #541010;
}
.widget_login form input[type=text]:focus, .widget_login form input[type=password]:focus {
  background: #eea8a8;
}
.widget_shopping_cart ul.cart_list {
  background: none;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #140404;
}
.widget_shopping_cart ul.cart_list li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #140404;
  font-family: "Bitter", sans-serif;
}
.widget_shopping_cart ul.cart_list li a {
  text-shadow: 1px 1px 0 #140404;
  color: #fff;
}
.widget_shopping_cart p.total {
  background: #2a0808;
  border: 1px solid #140404;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  border: 1px solid #140404;
}
.widget_price_filter .ui-slider .ui-slider-range {
  border: 1px solid #fff;
  background: #f3f0eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f0eb), to(#d1cec9));
  background: -webkit-linear-gradient(#f3f0eb, #d1cec9);
  background: -moz-linear-gradient(center top, #f3f0eb 0%, #d1cec9 100%);
  background: -moz-gradient(center top, #f3f0eb 0%, #d1cec9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb,endColorstr=#d1cec9);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb, endColorstr=#d1cec9)";
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #2a0808;
  border: 1px solid #140404;
}
.widget_layered_nav li {
  background: #7f1818;
  background: -webkit-gradient(linear, left top, left bottom, from(#7f1818), to(#6a1414));
  background: -webkit-linear-gradient(#7f1818, #6a1414);
  background: -moz-linear-gradient(center top, #7f1818 0%, #6a1414 100%);
  background: -moz-gradient(center top, #7f1818 0%, #6a1414 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7f1818,endColorstr=#6a1414);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7f1818, endColorstr=#6a1414)";
  border: 1px solid #3f0c0c;
  box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.3);
  -o-box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.3);
}
.widget_layered_nav li:hover {
  background: #6a1414;
  background: -webkit-gradient(linear, left top, left bottom, from(#6a1414), to(#541010));
  background: -webkit-linear-gradient(#6a1414, #541010);
  background: -moz-linear-gradient(center top, #6a1414 0%, #541010 100%);
  background: -moz-gradient(center top, #6a1414 0%, #541010 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6a1414,endColorstr=#541010);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6a1414, endColorstr=#541010)";
}
#searchform, .searchform {
  border-color: #c09292 #cfacac #cfacac #c09292;
}
#searchform input.s,
.searchform input.s,
#searchform #s,
.searchform #s {
  color: #333333;
}
.widget_tag_cloud .tagcloud a, .widget_product_tag_cloud .tagcloud a {
  background: #e9e4db;
  color: #595959;
}
.widget_tag_cloud .tagcloud a:hover, .widget_product_tag_cloud .tagcloud a:hover {
  background: #e0d8cb;
}
#wp-calendar th, #wp-calendar td {
  background: #e0d8cb;
}
#wp-calendar td {
  color: #4d4d4d;
}
.widget_woo_blogauthorinfo .more a {
  color: #333333;
}
.widget_woo_twitter .back {
  background: #f3f0eb;
  border: 1px solid #cfacac;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.widget_woo_twitter ul li {
  border-bottom: 1px solid #cfacac;
}
.widget_woo_twitter ul li .time {
  color: #4d4d4d;
}
.widget_woo_twitter p {
  color: #4d4d4d;
  border-top: 1px solid #cfacac;
  background: #e4ddd2;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4ddd2), to(#dcd3c5));
  background: -webkit-linear-gradient(#e4ddd2, #dcd3c5);
  background: -moz-linear-gradient(center top, #e4ddd2 0%, #dcd3c5 100%);
  background: -moz-gradient(center top, #e4ddd2 0%, #dcd3c5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e4ddd2,endColorstr=#dcd3c5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e4ddd2, endColorstr=#dcd3c5)";
}
.widget_woo_twitter p:hover {
  background: #e4ddd2;
}
.widget_woo_twitter p a {
  color: #000000;
}
.widget_woo_embedwidget ul.widget-video-list {
  background: #f3f0eb;
  border: 1px solid #cfacac;
}
.widget_woo_embedwidget ul.widget-video-list li {
  border-top: 1px solid #cfacac;
}
.widget_woo_embedwidget ul.widget-video-list li a:hover {
  background: #e4ddd2;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4ddd2), to(#dcd3c5));
  background: -webkit-linear-gradient(#e4ddd2, #dcd3c5);
  background: -moz-linear-gradient(center top, #e4ddd2 0%, #dcd3c5 100%);
  background: -moz-gradient(center top, #e4ddd2 0%, #dcd3c5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e4ddd2,endColorstr=#dcd3c5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e4ddd2, endColorstr=#dcd3c5)";
}
.widget_woo_embedwidget ul.widget-video-list li.active a {
  background: #e4ddd2;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4ddd2), to(#dcd3c5));
  background: -webkit-linear-gradient(#e4ddd2, #dcd3c5);
  background: -moz-linear-gradient(center top, #e4ddd2 0%, #dcd3c5 100%);
  background: -moz-gradient(center top, #e4ddd2 0%, #dcd3c5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e4ddd2,endColorstr=#dcd3c5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e4ddd2, endColorstr=#dcd3c5)";
}
#tabs {
  background: #e0d8cb;
  border: 1px solid #cfacac;
}
#tabs ul.wooTabs li a {
  color: #4d4d4d;
  border-right: 1px solid #cfacac;
}
#tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover {
  background: #f3f0eb;
}
#tabs .inside {
  background: #f3f0eb;
  border-top: 1px solid #cfacac;
}
#tabs .inside #tab-tags a {
  background: #e9e4db;
  color: #4d4d4d;
}
#tabs .inside #tab-tags a:hover {
  background: #e0d8cb;
}
#tabs .inside li {
  border-bottom: 1px solid #cfacac;
}
#tabs .inside li a {
  color: #333333;
}
#tabs .inside li span.meta {
  color: #4d4d4d;
}
#tabs .inside li img.avatar, #tabs .inside li img.thumbnail {
  border: 1px solid #cfacac;
}
#tabs .inside li img.avatar:hover, #tabs .inside li img.thumbnail:hover {
  border-color: #bc8c8c;
}
#comments {
  border-top: 1px solid #e2cccc;
}
#comments .commentlist {
  background: #f5f2ee;
  border: 1px solid #e2cccc;
}
#comments .comment .comment-container {
  border-bottom: 1px solid #e2cccc;
}
#comments .comment.bypostauthor .comment-container {
  background: #f3f0eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f0eb), to(#e9e4db));
  background: -webkit-linear-gradient(#f3f0eb, #e9e4db);
  background: -moz-linear-gradient(center top, #f3f0eb 0%, #e9e4db 100%);
  background: -moz-gradient(center top, #f3f0eb 0%, #e9e4db 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb,endColorstr=#e9e4db);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb, endColorstr=#e9e4db)";
}
#comments .comment .avatar img {
  border: 1px solid #d8bcbc;
}
#comments .comment .reply a {
  background-color: #f3f0eb;
  border-color: #c29595;
  color: #333333 !important;
}
#respond label {
  color: #4d4d4d;
}
#respond #commentform input.txt, #respond #commentform textarea {
  font-family: sans-serif;
  border-color: #c09292 #cfacac #cfacac #c09292;
}
#archives .archives_list {
  border-left: 1px solid #cfacac;
}
#archives .archives_list .date {
  color: #4d4d4d;
}
#archives .archives_list .comments a {
  color: #595959;
}
h3.archive_year {
  font-family: sans-serif;
  color: #333333;
}
.image-gallery-item img {
  border: 1px solid #e0d8cb;
  background: #f3f0eb;
}
.image-gallery-item img:hover {
  border: 1px solid #cdc0ab;
}
table {
  border-top: 1px solid #cfacac;
  border-left: 1px solid #cfacac;
}
table th, table td {
  border-bottom: 1px solid #cfacac;
  border-right: 1px solid #cfacac;
}
table th {
  background: #e9e4db;
}
.quantity {
  zoom: 1;
}
.quantity input.qty {
  font-family: sans-serif;
  border: 1px solid #cfacac;
}
.quantity .plus, .quantity .minus {
  border: 1px solid #cfacac;
  background: #f3f0eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f0eb), to(#e0d8cb));
  background: -webkit-linear-gradient(#f3f0eb, #e0d8cb);
  background: -moz-linear-gradient(center top, #f3f0eb 0%, #e0d8cb 100%);
  background: -moz-gradient(center top, #f3f0eb 0%, #e0d8cb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb,endColorstr=#e0d8cb);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb, endColorstr=#e0d8cb)";
}
.quantity .plus:hover, .quantity .minus:hover {
  background: #f3f0eb;
}
.onsale {
  border: 1px solid #222222;
  background: #414141;
  background: -webkit-gradient(linear, left top, left bottom, from(#414141), to(#222222));
  background: -webkit-linear-gradient(#414141, #222222);
  background: -moz-linear-gradient(center top, #414141 0%, #222222 100%);
  background: -moz-gradient(center top, #414141 0%, #222222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#414141,endColorstr=#222222);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#414141, endColorstr=#222222)";
}
.woocommerce_message,
p.info,
li.info,
.woocommerce_error {
  border: 1px solid #cfacac;
  background-color: #f3f0eb;
}
.woocommerce_message {
  border-color: #cfacac;
  background-color: #3f0c0c;
  border: 1px solid #3f0c0c;
}
.woocommerce_message .button {
  font-family: sans-serif;
  border: 1px solid #000000;
  background: #222222;
  background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#080808));
  background: -webkit-linear-gradient(#222222, #080808);
  background: -moz-linear-gradient(center top, #222222 0%, #080808 100%);
  background: -moz-gradient(center top, #222222 0%, #080808 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#222222,endColorstr=#080808);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#222222, endColorstr=#080808)";
}
.woocommerce_message .button:hover {
  background: #3c3c3c;
  background: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222222));
  background: -webkit-linear-gradient(#3c3c3c, #222222);
  background: -moz-linear-gradient(center top, #3c3c3c 0%, #222222 100%);
  background: -moz-gradient(center top, #3c3c3c 0%, #222222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3c3c3c,endColorstr=#222222);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3c3c3c, endColorstr=#222222)";
}
p.info, li.info {
  border-color: #cfacac;
}
.woocommerce_error {
  color: #222222;
  border-color: #cfacac;
  background-color: #3f0c0c;
  border: 1px solid #3f0c0c;
}
p.demo_store {
  background: #f3f0eb;
  border-bottom: 2px solid #cfacac;
}
ul.products li.product img {
  border: 1px solid #cfacac;
}
ul.products li.product h3 a {
  color: #000000;
}
ul.products li.product .price {
  color: #999999;
}
.single-product .images .thumbnails img {
  border: 1px solid #e2cccc;
}
.single-product .images .thumbnails img:hover {
  border: 1px solid #cfacac;
}
.single-product .summary .price {
  color: #222222;
}
.single-product .summary .single_variation_wrap .single_variation {
  background: #f3f0eb;
}
.single-product .woocommerce_tabs ul.tabs {
  background: #f3f0eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f0eb), to(#e0d8cb));
  background: -webkit-linear-gradient(#f3f0eb, #e0d8cb);
  background: -moz-linear-gradient(center top, #f3f0eb 0%, #e0d8cb 100%);
  background: -moz-gradient(center top, #f3f0eb 0%, #e0d8cb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb,endColorstr=#e0d8cb);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb, endColorstr=#e0d8cb)";
  border: 1px solid #cfacac;
}
.single-product .woocommerce_tabs ul.tabs li a {
  color: #404040;
  border: 1px solid #d8bcbc;
  background: #f3f0eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f0eb), to(#e9e4db));
  background: -webkit-linear-gradient(#f3f0eb, #e9e4db);
  background: -moz-linear-gradient(center top, #f3f0eb 0%, #e9e4db 100%);
  background: -moz-gradient(center top, #f3f0eb 0%, #e9e4db 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb,endColorstr=#e9e4db);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f0eb, endColorstr=#e9e4db)";
}
.single-product .woocommerce_tabs ul.tabs li a:hover {
  border-color: #cfacac;
}
.single-product .woocommerce_tabs ul.tabs li.active a {
  background: #cdc0ab;
  color: #3f0c0c;
}
.single-product .woocommerce_tabs ul.tabs li.active a:hover {
  border-color: #fff;
}
.single-product .woocommerce_tabs .panel {
  background: #f3f0eb;
  border: 1px solid #cfacac;
  border-top: none;
}
.single-product #reviews #comments .commentlist li {
  background: #f7f5f1;
  border: 1px solid #e2cccc;
}
table.cart td.product-name a {
  color: #333333;
}
table.cart dl.variation {
  color: #595959;
}
table.cart .product-quantity .input-text {
  border: 1px solid #cfacac;
}
.checkout ul.payment_methods .payment_box {
  background: #f3f0eb;
  border: 1px solid #cfacac;
}
a.button,
a.comment-reply-link,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button {
  border: 1px solid #0c0000;
  border-bottom-color: #000000;
  font-family: "Bitter", sans-serif;
  background: #3f0c0c;
  background: -webkit-gradient(linear, left top, left bottom, from(#3f0c0c), to(#1d0000));
  background: -webkit-linear-gradient(#3f0c0c, #1d0000);
  background: -moz-linear-gradient(center top, #3f0c0c 0%, #1d0000 100%);
  background: -moz-gradient(center top, #3f0c0c 0%, #1d0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3f0c0c,endColorstr=#1d0000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3f0c0c, endColorstr=#1d0000)";
}
a.button:hover,
a.comment-reply-link:hover,
#commentform #submit:hover,
.submit:hover,
input[type=submit]:hover,
input.button:hover,
button.button:hover {
  text-decoration: none;
  background: #501d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#501d1d), to(#2e0000));
  background: -webkit-linear-gradient(#501d1d, #2e0000);
  background: -moz-linear-gradient(center top, #501d1d 0%, #2e0000 100%);
  background: -moz-gradient(center top, #501d1d 0%, #2e0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#501d1d,endColorstr=#2e0000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#501d1d, endColorstr=#2e0000)";
}
a.button:active,
a.comment-reply-link:active,
#commentform #submit:active,
.submit:active,
input[type=submit]:active,
input.button:active,
button.button:active {
  border-color: #000000;
}
.ie6 .button, .ie6 .button:visited {
  color: #333333 !important;
}
.ie6 .reply a {
  color: #333333 !important;
}
@media only screen and (min-width: 1024px) {
  #connect .related-posts {
    border-left: 1px solid #d8bcbc;
  }
}
@media only screen and (min-width: 768px) {
  #top {
    background: #3f0c0c;
  }
  #top .nav {
    font-family: sans-serif;
  }
  #top .nav a {
    color: #e26868;
  }
  #top .nav li ul {
    background: #3f0c0c;
  }
  #top .nav li ul li a:link, #top .nav li ul li a:visited {
    color: #e26868;
  }
  #navigation .nav li a {
    border-right: 1px solid #541010;
    border-left: 1px solid #000000;
  }
  #navigation .nav li ul {
    background: #3f0c0c;
    border: 1px solid #000000;
  }
  #navigation .nav li ul li a {
    border-top: 1px solid #541010;
    border-bottom: 1px solid #000000;
  }
  #navigation ul.mini-cart li ul.cart_list {
    background: #480e0e;
    border: 1px solid #3f0c0c;
  }
  #navigation ul.mini-cart li ul.cart_list li {
    border-top: 1px solid #140404;
  }
  #navigation ul.mini-cart li ul.cart_list li.cart-title h3 {
    text-shadow: 1px 1px 0 #140404;
  }
  #navigation ul.mini-cart li ul.cart_list li.cart_list_product a {
    text-shadow: 1px 1px 0 #140404;
  }
  #navigation ul.mini-cart li ul.cart_list li.total {
    background: #2a0808;
    border: 1px solid #140404;
  }
  #navigation ul.mini-cart li ul.cart_list li.buttons .button {
    border: 1px solid #000000;
    background: #222222;
    background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#080808));
    background: -webkit-linear-gradient(#222222, #080808);
    background: -moz-linear-gradient(center top, #222222 0%, #080808 100%);
    background: -moz-gradient(center top, #222222 0%, #080808 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#222222,endColorstr=#080808);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#222222, endColorstr=#080808)";
  }
  #navigation ul.mini-cart li ul.cart_list li.buttons .button:hover {
    background: #3c3c3c;
    background: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222222));
    background: -webkit-linear-gradient(#3c3c3c, #222222);
    background: -moz-linear-gradient(center top, #3c3c3c 0%, #222222 100%);
    background: -moz-gradient(center top, #3c3c3c 0%, #222222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3c3c3c,endColorstr=#222222);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3c3c3c, endColorstr=#222222)";
  }
  #wrapper #searchbar ul li {
    border-right: 1px solid #cfacac;
  }
  #wrapper #searchbar ul li a {
    color: #333333;
  }
  #customer_details .col-1 {
    padding-right: 4%;
    border-right: 1px solid #cfacac;
  }
}
